/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

/* TŁO – KLUCZOWE */
body {
    font-family: 'Montserrat', sans-serif;
    color: #e6e1d6;

    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

/* HEADER */
.top {
    text-align: center;
    padding: 80px 20px 60px;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.85),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.2)
    );
    border-bottom: 3px solid #6b5a2a;
}

.top h1 {
    font-family: 'Cinzel', serif;
    font-size: 3.5rem;
    color: #c2a15a;
}

.top p {
    margin-top: 10px;
    letter-spacing: 1px;
}

/* CONTENT */
.content {
    padding: 80px 5%;
}

/* PANEL */
.panel {
    max-width: 800px;
    margin: auto;
    background: rgba(8,12,14,0.92);
    border: 2px solid #6b5a2a;
    box-shadow: 0 0 25px rgba(0,0,0,0.7);
    padding: 30px;
}

.panel h2 {
    font-family: 'Cinzel', serif;
    color: #c2a15a;
    margin-bottom: 15px;
}
